name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]  
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  # Irudiaren izena = codesyntax/docker-cron-image
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write

    steps:
      - name: Kodea jaitsi (Checkout)
        uses: actions/checkout@v4

      - name: Docker-en login egin (Log in to the Container registry)
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Metadatuak erauzi (Extract metadata)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha,prefix={{date 'YYYYMMDD'}}-

      - name: Irudia sortu eta igo (Build and push Docker image)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}